<!doctype html>
<html ng-app="Demo">
<head>
	<neta charset="utf-8" />
	<title>
		Promise examples
	</title>
</head>
<body ng-controller="mycontroller">

	<h1>
		Promise examples
	</h1>


	<ul>
		<li>
			<a href="javascript: promiseAll()">Promise all (execute tasks at the same time)</a>
		</li>
		<li>
			<a href="javascript: testSetTimeout()">Does "setTimeout" has delay?</a>
		</li>
		<li>
			<a href="javascript: testPromise()">"then" after "resove"</a>
		</li>
		<li>
			<a href="javascript: sequencePromise()">execute sequence tasks using Promise</a>
		</li>
		<li>
			<a href="#" ng-click="sequenceNgPromise()">execute sequence tasks using Angular $q</a>
		</li>
		<li>
			<a href="#" ng-click="allNgPromise()">execute all tasks using Angular $q</a>
		</li>
	</ul>

</body>

	<!-- Load scripts. -->
<script type="text/javascript" src="../../vendor/angularjs/angular-1.2.18.js"></script>
<script type="text/javascript">
function promiseAll(){
		// `delay`毫秒后执行resolve
	function timerPromisefy(delay) {
	    return new Promise(function (resolve) {
	        setTimeout(function () {
	            resolve(delay);
	        }, delay);
	    });
	}

	var startDate = Date.now();
	// 所有promise变为resolve后程序退出
	Promise.all([
	    timerPromisefy(1),
	    timerPromisefy(32),
	    timerPromisefy(64),
	    timerPromisefy(128)
	]).then(function (values) {
	    console.log(Date.now() - startDate + 'ms');
	    // 約128ms
	    console.log(values);    // [1,32,64,128]
	});
}

function testSetTimeout(){
	var startDate = Date.now();
	setTimeout(function(){
		console.log(Date.now() - startDate + 'ms');
	}, 500);
}	

function testPromise(){
	function timerPromisefy(delay) {
	    return new Promise(function (resolve) {
	        setTimeout(function () {
	        	console.log("resolve");
	            resolve(delay);
	        }, delay);
	    });
	}

	var p = timerPromisefy(5);
	setTimeout(function(){
		p.then(function(v){
			console.log(v);
		});
	}, 3000);

	setTimeout(function(){
		p.then(function(v){
			console.log(v);
		});
	}, 2000);
}

function sequencePromise(){
	function sequenceTasks(tasks) {
	    function recordValue(results, value) {
	        results.push(value);
	        return results;
	    }
	    var pushValue = recordValue.bind(null, []);
	    return tasks.reduce(function (promise, task) {
	        return promise.then(task).then(pushValue);
	    }, Promise.resolve());
	}
	function getURL(URL) {
	    return new Promise(function (resolve, reject) {
	        var req = new XMLHttpRequest();
	        req.open('GET', URL, true);
	        req.onload = function () {
	            if (req.status === 200) {
	                resolve(req.responseText);
	            } else {
	                reject(new Error(req.statusText));
	            }
	        };
	        req.onerror = function () {
	            reject(new Error(req.statusText));
	        };
	        req.send();
	    });
	}
	var request = {
	        comment: function getComment(value) {
	        	console.log(arguments);
	            return getURL('http://azu.github.io/promises-book/json/comment.json').then(JSON.parse);
	        },
	        people: function getPeople() {
	        	console.log(arguments);
	            return getURL('http://azu.github.io/promises-book/json/people.json').then(JSON.parse);
	        }
	    };
	function main() {
	    return sequenceTasks([request.comment, request.people]);
	}
	// 运行示例
	main().then(function (value) {
	    console.log(value);
	}).catch(function(error){
	    console.error(error);
	});
}

// Create an application module for our demo.
var app = angular.module( "Demo", [] );
app.service("helpers", ["$q", function($q){
	this.sequenceTasks = function(tasks){
		function recordValue(results, value) {
	        results.push(value);
	        return results;
	    }
	    var pushValue = recordValue.bind(null, []);
	    
	    var defer = $q.defer();	    
	    defer.resolve()
	    return tasks.reduce(function (promise, task) {
	        return promise.then(task).then(pushValue);
	    }, defer.promise);
	};

	this.paralleTasks = function(tasks){
		
	};

	this.getURL = function(URL){
		var defer = $q.defer();
        var req = new XMLHttpRequest();
        req.open('GET', URL, true);
        req.onload = function () {
            if (req.status === 200) {
                defer.resolve(req.responseText);
            } else {
                defer.reject(new Error(req.statusText));
            }
        };
        req.onerror = function () {
            defer.reject(new Error(req.statusText));
        };
        req.send();	

        return defer.promise;	
	};
}]);

app.controller("mycontroller", ["$scope", "helpers", function($scope, helpers){
	var request = {
	        comment: function getComment(value) {
	        	console.log(arguments);
	            return helpers.getURL('http://azu.github.io/promises-book/json/comment.json').then(JSON.parse);
	        },
	        people: function getPeople() {
	        	console.log(arguments);
	            return helpers.getURL('http://azu.github.io/promises-book/json/people.json').then(JSON.parse);
	        }
	    };

	function main() {
		return helpers.sequenceTasks([request.comment, request.people]);
	}

		// 运行示例
	$scope.sequenceNgPromise = function(){
		main().then(function (value) {
		    console.log(value);
		}, function(reason){
		    console.error(reason);
		});
	}

	$scope.allNgPromise = function(){

	};
}]);

</script>
</html>