<html ng-app="showcase.angularWay">
<link rel="stylesheet" href="../../vendor/angular-plugin/angular-datatables.css">
<link rel="stylesheet" href="../../vendor/datatable/jquery.dataTables.min.css">
<link rel="stylesheet" href="../../vendor/datatable/dataTables.responsive.css">

<body>
<div ng-controller="AngularWayCtrl as showCase">
    <div>
        <input type="button" ng-click="showCase.changeData()" value="Change Data"/>
    </div>

    <uila-table class="my-dt row-border hover responsive" data="showCase.persons" track-by="id">
        <uila-column key="id">ID</uila-column>
        <!-- <uila-column>
            <uila-column-title>ID</uila-column-title>
            <uila-column-formatter>
                <a href="#" ng-click="showCase.goTo($row)">$cell.id</a>
            </uila-column-formatter>
        </uila-column> -->
        <uila-column key="firstName">First name</uila-column>
        <uila-column key="lastName">Last name</uila-column>
        <uila-column key="age">Age</uila-column>
        <uila-column key="phone">Phone</uila-column>
        <uila-column key="company">Company</uila-column>
    </uila-table>

</div>
</body>

<script src="../../vendor/jquery/jquery-2.0.2.min.js"></script>
<script src="../../vendor/datatable/jquery.dataTables.js"></script>
<script src="../../vendor/angularjs/angular-1.4.5.js"></script>
<script src="../../vendor/angular-plugin/angular-resource.js"></script>
<script src="../../vendor/datatable/dataTables.responsive.js"></script>
<script src="../../vendor/other/thenBy.js"></script>
<script src="base.js"></script>
<script src="uilaDataTable.js"></script>

<script>
angular.module('showcase.angularWay', ['uilaDatatable'])
.controller('AngularWayCtrl', AngularWayCtrl);

function AngularWayCtrl() {
    var vm = this;
    vm.persons = [];

    vm.idFormatter = function(){

    }

    vm.persons = [{
        "id": 860,
        "firstName": "Superman",
        "lastName": "Yoda",
        "age": 20,
        "phone": "1234334343",
        "company": "uila"
    }, {
        "id": 870,
        "firstName": "Foo",
        "lastName": "Whateveryournameis",
        "age": 20,
        "phone": "1234334343",
        "company": "uila"
    }, {
        "id": 590,
        "firstName": "Toto",
        "lastName": "Titi",
        "age": 20,
        "phone": "1234334343",
        "company": "uila"
    }];

    vm.changeData = function(){

            vm.persons = [{
                "id": 860,
                "firstName": "Superman",
                "lastName": "Yoda",
                "age": 20,
                "phone": "1234334343",
                "company": "uila"
            }, {
                "id": 590,
                "firstName": "Toto",
                "lastName": "Titi",
                "age": 20,
                "phone": "1234334343",
                "company": "uila"
            }, {
                "id": 803,
                "firstName": "Luke",
                "lastName": "Kyle",
                "age": 20,
                "phone": "1234334343",
                "company": "uila"
            }, {
                "id": 476,
                "firstName": "Zed",
                "lastName": "Kyle",
                "age": 20,
                "phone": "1234334343",
                "company": "uila"
            }];
    }
 
}


</script>
</html>