<html ng-app="showcase.angularWay">
<link rel="stylesheet" href="../../vendor/angular-plugin/angular-datatables.css">
<link rel="stylesheet" href="../../vendor/datatable/jquery.dataTables.min.css">
<link rel="stylesheet" href="../../vendor/datatable/dataTables.responsive.css">
<style>
.phone-column {
    background-color: red;
}
</style>
<body>
<div ng-controller="AngularWayCtrl as showCase">
    <div>
        <input type="button" ng-click="showCase.changeData()" value="Change Data"/>
    </div>

    <uila-table class="my-dt row-border hover responsive" 
    data="showCase.persons" 
    dom="rt"
    track-by="id"
    detail-renderer="showCase.myRenderer">
        <uila-column key="id" formatter="id-column" class-name="control">
            <h2>ID</h2>
        </uila-column>
        <uila-column key="firstName">First name</uila-column>
        <uila-column key="lastName">Last name</uila-column>
        <uila-column key="age" s-type="string">Age</uila-column>
        <uila-column key="phone" s-class="phone-column">Phone</uila-column>
        <uila-column key="company" b-sortable="false">Company</uila-column>
        <uila-column key="id" s-class="none">Detail</uila-column>
    </uila-table>
</div>
</body>

<script src="../../vendor/jquery/jquery-2.0.2.min.js"></script>
<script src="../../vendor/datatable/jquery.dataTables.js"></script>
<script src="../../vendor/angularjs/angular-1.4.5.js"></script>
<script src="../../vendor/angular-plugin/angular-resource.js"></script>
<script src="../../vendor/angular-plugin/angular-sanitize.min.js"></script>
<script src="../../vendor/datatable/dataTables.responsive.js"></script>
<script src="../../vendor/other/thenBy.js"></script>
<script src="base.js"></script>
<script src="src/UilaTableDirective.js"></script>
<script src="src/UilaColumnDirective.js"></script>
<script src="src/UilaColumnFormatterDirective.js"></script>
<script src="src/uilaDataTable.js"></script>

<script>
angular.module('showcase.angularWay', ['ngSanitize', 'uilaDatatable'])
.controller('AngularWayCtrl', AngularWayCtrl);

function AngularWayCtrl($sce, $scope, $compile) {
    var vm = this;
    vm.persons = [];
    
    $scope.html = '<ul><li>render me please</li></ul>';
    $scope.trustedHtml = $sce.trustAsHtml($scope.html);
    vm.myRenderer = function(api, rowIdx){
        let row = api.data()[rowIdx];
         var data = row.join('');
 
                return $compile('<div>' + data + '</div>')($scope);
    }


    vm.persons = [{
        "id": 860,
        "firstName": "Superman",
        "lastName": "Yoda",
        "age": 20,
        "phone": "1234334343",
        "company": "uila"
    }, {
        "id": 870,
        "firstName": "Foo",
        "lastName": "Whateveryournameis",
        "age": 20,
        "phone": "1234334343",
        "company": "uila"
    }, {
        "id": 590,
        "firstName": "Toto",
        "lastName": "Titi",
        "age": 20,
        "phone": "1234334343",
        "company": "uila"
    }];

    vm.changeData = function(){

            vm.persons = [{
                "id": 860,
                "firstName": "Superman",
                "lastName": "Yoda",
                "age": 20,
                "phone": "1234334343",
                "company": "uila"
            }, {
                "id": 590,
                "firstName": "Toto",
                "lastName": "Titi",
                "age": 20,
                "phone": "1234334343",
                "company": "uila"
            }, {
                "id": 803,
                "firstName": "Luke",
                "lastName": "Kyle",
                "age": 108,
                "phone": "1234334343",
                "company": "uila"
            }, {
                "id": 476,
                "firstName": "Zed",
                "lastName": "Kyle",
                "age": 20,
                "phone": "1234334343",
                "company": "uila"
            }];
    }
 
}

class IdColumnDirective extends UilaColumnFormatterDirective {
    constructor(...injects) {
        super(...injects);

        this.template = `<a href="#" ng-click="goTo(rowData)">{{rowData.id}}</a>`;
    }

    link (scope, element){
        scope.goTo = function(rowData){
            alert(rowData.id);
        }
    }
}

angular.module('showcase.angularWay')
.directive('idColumn', IdColumnDirective.create())
</script>
</html>