<html ng-app="showcase.angularWay">
<link rel="stylesheet" href="../../vendor/angular-plugin/angular-datatables.css">
<link rel="stylesheet" href="../../vendor/datatable/jquery.dataTables.min.css">
<link rel="stylesheet" href="../../vendor/datatable/dataTables.responsive.css">
<style>
.phone-column {
    background-color: red;
}
</style>
<body>
<div ng-controller="AngularWayCtrl as showCase">
    <div>
        <input type="button" ng-click="showCase.changeData()" value="Change Data"/>
    </div>

    <my-container data = "showCase.persons"></my-container>
</div>
</body>

<script src="../../vendor/jquery/jquery-2.0.2.min.js"></script>
<!-- <script src="../../vendor/datatable/jquery.dataTables.js"></script> -->
<script src="../../vendor/datatable/jquery.dataTables.1.10.4.js"></script>
<script src="../../vendor/angularjs/angular-1.4.5.js"></script>
<script src="../../vendor/angular-plugin/angular-resource.js"></script>
<script src="../../vendor/angular-plugin/angular-sanitize.min.js"></script>
<script src="../../vendor/datatable/dataTables.responsive.js"></script>
<script src="../../vendor/other/thenBy.js"></script>
<script src="base.js"></script>
<script src="src/UilaTableDirective.js"></script>
<script src="src/UilaColumnDirective.js"></script>
<script src="src/UilaColumnFormatterDirective.js"></script>
<script src="src/uilaDataTable.js"></script>
<script src="src/Helpers.js"></script>

<script>
jQuery.fn.dataTableExt.oSort['usage-asc']  = function(a, b) {
    return ((a < b) ? -1 : ((a > b) ?  1 : 0));
};
jQuery.fn.dataTableExt.oSort['usage-desc']  = function(a, b) {
    return ((b < a) ? -1 : ((b > a) ?  1 : 0));
};

angular.module('showcase.angularWay', ['ngSanitize', 'uilaDatatable'])
// .config(['$compileProvider', function ($compileProvider) {
//   $compileProvider.debugInfoEnabled(false);
// }])
.controller('AngularWayCtrl', AngularWayCtrl);

function AngularWayCtrl($sce, $scope, $compile, $timeout) {
    var vm = this;
    vm.persons = [];
    
    $scope.html = '<ul><li>render me please</li></ul>';
    $scope.trustedHtml = $sce.trustAsHtml($scope.html);
    // vm.myRenderer = function(api, rowIdx){
    //     let row = api.data()[rowIdx];
    //      var data = row.join('');
 
    //             return $compile('<div>' + data + '</div>')($scope);
    // }

    let r = function(api, rowIdx){
        debugger;
        let row = api.data()[rowIdx];
         var data = row.join('');
 
        return $compile('<div>' + data + '</div>')($scope);
    }

    vm.myRenderer = r.bind(this);    


$timeout(function(){
    vm.persons = [{
        "id": 860,
        "firstName": "Superman",
        "lastName": "Yoda",
        "age": 18,
        "phone": "1234334343",
        "company": "uila"
    }
    , {
        "id": 870,
        "firstName": "Foo",
        "lastName": "Whateveryournameis",
        "age": 128,
        "phone": "1234334343",
        "company": "uila"
    }, {
        "id": 590,
        "firstName": "Toto",
        "lastName": "Titi",
        "age": 20,
        "phone": "1234334343",
        "company": "uila"
    }
    ];
}, 200)

    vm.changeData = function(){

            vm.persons = [{
                "id": 860,
                "firstName": "Superman2",
                "lastName": "Yoda2",
                "age": 28,
                "phone": "1234334343999",
                "company": "uilab"
            }, {
                "id": 590,
                "firstName": "Toto",
                "lastName": "Titi",
                "age": 20,
                "phone": "1234334343",
                "company": "uila"
            }, {
                "id": 803,
                "firstName": "Luke",
                "lastName": "Kyle",
                "age": 108,
                "phone": "1234334343",
                "company": "uila"
            }, {
                "id": 476,
                "firstName": "Zed",
                "lastName": "Kyle",
                "age": 9,
                "phone": "1234334343",
                "company": "uila"
            }];
    }
 
}

class IdColumnDirective extends UilaColumnFormatterDirective {
    constructor(...injects) {
        super(...injects);

        this.template = `<a href="#" ng-click="goTo(rowData)">{{showMsg}}</a><br/>{{showMsgPost}}`;

        this.controller = IdColumnDirectiveWorker.create();
        this.controllerAs = "idCtrl";
        this.bindToController = true;

        this.link = {
            pre: this._pre,
            post: this._post.bind(this)
        }
    }

    // _pre (scope, element){

    //     //if()
    //     scope.showMsg = scope.rowData.id + ", " + scope.rowData.firstName;
    //     scope.goTo = function(rowData){
    //         alert(rowData.id);
    //     }
    // }

    _post(scope, element, attr, ctrl) {
        ctrl.createCol(element);

        scope.showMsgPost = "post: " + ctrl.rowData.firstName; 
    }
}

class IdColumnDirectiveWorker extends laygoon.util.BaseNgClass {
    get rowData() {
        return this._rowData;
    }

    set rowData(newRowData) {
        this._rowData = newRowData;
        // console.log(["colIdx", this.colIdx, "rowIdx", this.rowIdx]);

        if(this.element) {
            //console.log("start to update...");
            let el = this.element.find("a");
            if(el.data("valTest")) {
              //  console.log(["has value", el.data("valTest")]);
            } else {
                el.data("valTest", {a: 1, data: this.rowData});
                //console.log(["no value"]);
            }   
        }     
    }

    createCol(element) {
        this.element = element;
        let el = this.element.find("a");
        el.data("valTest", {a: 1, data: this.rowData});
        //console.log(["create", el.data("valTest")]);
    }

    get colIdx(){
        return this._colIdx;
    }    

    set colIdx(newColIdx) {
        this._colIdx = newColIdx;
        // console.log(["rowData", this.rowData, "rowIdx", this.rowIdx]);
    }

    get rowIdx() {
        return this._rowIdx;
    }

    set rowIdx(newRowId){
        this._rowIdx = newRowId;
        // console.log(["colIdx", this.colIdx, "rowData", this.rowData]);
    }
}

IdColumnDirectiveWorker.inject(['$scope']);

class FirstNameDirective extends UilaColumnFormatterDirective {
    constructor(...injects) {
        super(...injects);

        this.template = `<show-prop 
            prop-name='firstName'
            prop='rowData.firstName'
        ></show-prop>`;
    }
}

class ShowPropDirective extends laygoon.util.BaseDirectiveClass{
    constructor(...injects){
        super(...injects);

        this.setScope({
            prop: '=',
            propName: '@'
        });

        this.template = "Show: {{propName}}: {{prop}}"
    }

    link(scope){
        scope.$watch('prop', function(newValue, oldValue){
            console.log("prop changed", oldValue, newValue);
        });
    }
}

class MyContainerDirective extends laygoon.util.BaseDirectiveClass{
    constructor(...injects){
        super(...injects);

        this.setScope({
            data: '='
        });

        this.controller = MyContainerDirectiveWorker.create();
        this.controllerAs = "containerCtrl";
        this.bindToController = true;

        this.templateUrl = 'test3.tmp.html';

        this.link = {
            pre: function(){
                console.log("pre...");
            }
        }

    }
}

class MyContainerDirectiveWorker extends UilaTableSettingsHelper {
    constructor(...injects) {
        super(...injects);

        // this.setOptions({
        //     paging: true,
        //     pageLength: 2,
        //     dom: "trif"
        // })
    }

    myRenderer(api, rowIdx){
         let row = api.data()[rowIdx];
         var data = row[1] + ";" + row[2];
 
        return this.$compile('<div>' + data + '</div>')(this.$scope);       
    }

    sortAge(elem){
        console.log(["sortAge", elem]);
        return elem.age;
    }

    fnCreatedRow(nRow, aData, iDataIndex) {
        //console.log(arguments);
    }
}
MyContainerDirectiveWorker.inject(['$compile', '$scope']);

angular.module('showcase.angularWay')
.directive('idColumn', IdColumnDirective.create())
.directive('showProp', ShowPropDirective.create())
.directive('firstName', FirstNameDirective.create())
.directive('myContainer', MyContainerDirective.create())
.directive('crDetailColumn', UilaColumnFormatterDirective.create())
.filter('myCompany', function($sce){
    return function(cellData, rowData, colIdx, rowIdx){
        return $sce.trustAs('html', '<div style="background-color: yellow">'+cellData+'</div>');
    }
})


</script>
</html>