  .treeview > div
	{
	   border: 1px solid #888;
	   border-radius:3px;
	   overflow: hidden;
	}
	.treeview-container .treeview {
		overflow-x: hidden;
		overflow-y: auto;
		height: 1020px;
	}

	.treeview-container .col-md-4
	{
		width: 100%;
		min-width: 100px;
	}	
	.treeview-container .col-md-4 .input-group {
		width: 100%;
	}	